<!doctype html>
<html lang="en">
  <head>
    <%- include('../common/head') %>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>

    <header>
      <%- include('../common/navbar') %>
      <% if(successFlash.length>0) { %>
        <div class="container mt-1">
          <div class="alert alert-info">
            <%= successFlash %>
          </div>
        </div>
        <% } %>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="jumbotron ">
        <h1 class="display-5">Admin Portal</h1>
        <p class="lead">Welcome to Administrative Page.</p>
        <hr class="my-4">
        <p>You can add and view users here.</p>
      </div>

    
      <div class="container">
        <div id="dock-container">
            <div id="dock">
              <ul>
                <li>
                  <span>View All Users</span>
                  <a href="/admin/registeredUsers"><img src="images/users.png"/></a>
                </li>
                <li>
                  <span>Add a new User</span>
                  <a href="/users/register"><img src="images/new_user.png"/></a>
                </li>
              </ul>
            </div>
            
          </div>
      </div>
      
    </main>
    
    <%- include('../common/footer') %>
    
  </body>
</html>