<!doctype html>
<html lang="en">
  <head>
    <%- include('./common/head') %>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>

    <header>
      <%- include('./common/navbar') %>
      <% if(successFlash.length>0) { %>
        <div class="container mt-1">
          <div class="alert alert-info">
            <%= successFlash %>
          </div>
        </div>
        <% } %>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="jumbotron ">
        <h1 class="display-5">ICSR, IIT Ropar</h1>
        <p class="lead">Welcome to the Purchase Order Filing Site.</p>
        <hr class="my-4">
        <p>This page contains the steps required to upload a new PO and view existing ones.</p>
        <p class="text-danger">To change the drive link and the sheet link please contact the Admin.</p>
        <p class="text-danger">Make sure to add <strong>icsr-pos1@icsr-pos.iam.gserviceaccount.com</strong> as an editor to the Drive Folder and Google Sheet</p>
        <p class="text-info">Detailed Guide can be found at this <a href="https://docs.google.com/document/d/e/2PACX-1vSRtupYp7onUnPdNGa7Wgg9qEZfBE4KBhrWCSwXW81fMo5VH5bhFVrtIRwWbfvUeI6_nAmCMlzOc3-w/pub">link</a></p>
      </div>
      <h2 class="font-weight-bold">Steps to Upload a new PO</h2>
      <br>
      <div class="jumbotron ">
        <h1 class="font-weight-bold" >Step 1</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/step1.png">
        <br>
        <br>
        <p class="lead">Click on the login button in the top right corner and login with your .iitrpr.ac.in account.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Step 2</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/options.png">
        <br>
        <br>
        <p class="lead">Click on the <b>Upload New PO</b> button.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Step 3</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/step3.png">
        <br>
        <br>
        <p class="lead">Click anywhere inside the upload section and choose the PO file from your computer and click submit</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Step 4</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/step4.png">
        <br>
        <br>
        <p class="lead">After filling in all the details you can either submit it or save the progress till now.</p>
      </div>
      <h2 class="font-weight-bold">Steps to work on an existing PO</h2>
      <br>
      <div class="jumbotron ">
        <h1 class="font-weight-bold" >Step 1</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/options.png">
        <br>
        <br>
        <p class="lead">Click on the <b>View Saved PO button</b>.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Step 2</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/saved.png">
        <br>
        <br>
        <p class="lead">Click on the <b>View</b> button to open the PO and on the <b>Edit</b> button to continue working on that PO.</p>
      </div>
      <br>
      <h2 class="font-weight-bold">Steps to Upload new POs in a batch</h2>
      <br>
      <div class="jumbotron ">
        <h1 class="font-weight-bold" >Step 1</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/options.png">
        <br>
        <br>
        <p class="lead">Click on the <b>Batch Upload PO</b> button.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Step 2</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/batchUpload.png">
        <br>
        <br>
        <p class="lead">Click on the <b>Upload Files</b> button to select the files, and then click on submit. The POs will be in the Saved POs page.</p>
        <br>
        <br>
      </div>

      <br>
      <h2 class="font-weight-bold">Steps to Reset Password</h2>
      <br>
      <div class="jumbotron ">
        <h1 class="font-weight-bold" >Step 1</h1>
        <hr class="my-4">
        <img style="width:60%;" src="images/resetPwd.png">
        <br>
        <br>
        <p class="lead">Click on the <b>Reset Password</b> button on the login page.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Step 2</h1>
        <hr class="my-4">
        <img style="width:70%;height:70%;" src="images/resetPwd2.png">
        <br>
        <br>
        <p class="lead">Enter your IIT RPR Email ID. A password reset link will be sent to it, after clicking on it, you will be directed to the page below.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Step 3</h1>
        <hr class="my-4">
        <img style="width:70%;height:80%;" src="images/resetPwd3.png">
        <br>
        <br>
        <p class="lead">Enter and re-enter your password. The password should have 1 lowercase, 1 uppercase alphabet and 1 number, and should be atleast 8 characters long.</p>
        <br>
        <br>
      </div>
      
      <h2 class="font-weight-bold">Admin Functions</h2>
      <br>
      <div class="jumbotron ">
        <h1 class="font-weight-bold" >Viewing the Admin Dashboard</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/admin.png">
        <br>
        <br>
        <p class="lead">Click on the <b>Admin</b> button after logging in.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Adding a new user</h1>
        <hr class="my-4">
        <img style="width:100%" src="images/adminFuncs.png">
        <br>
        <br>
        <p class="lead">Click on the <b>Add a new user</b> button.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Viewing all users </h1>
        <hr class="my-4">
        <img style="width:100%" src="images/adminFuncs.png">
        <br>
        <br>
        <p class="lead">Click on the <b>View all users</b> button.</p>
        <br>
        <br>
        <h1 class="font-weight-bold">Managing Users </h1>
        <hr class="my-4">
        <img style="width:100%" src="images/manage.png">
        <br>
        <br>
        <p class="lead">Click on the <b>Edit</b> button to change the user's name or to change the user's admin access. Click on <b>Delete</b> to delete that particular user.</p>
        <br>
        <br>
      </div>
      

      <!-- <div class="row">
        <div class="col-6">
          <a href="/uploadPage" class="btn btn-secondary btn-lg">Upload a new PO</a>
        </div>
        <div class="col-6">
          <a href="#" class="btn btn-secondary btn-lg">View Previously Uploaded PO</a>
        </div>
      </div> -->
      <!-- <div class="container">
      <div id="dock-container">
        <div id="dock">
          <ul>
            <li>
              <span>Upload a new PO</span>
              <a href="/uploadPage"><img src="images/du1.png"/></a>
            </li>
            <li>
              <span>View Saved PO</span>
              <a href="/savedPOPage"><img src="images/dv.png"/></a>
            </li>
          </ul>
        </div>
        
      </div>
    </div> -->
      <!-- <% if(user) { %>
        <iframe class="mt-4 w-100" style="height:200px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQp2z0stPhyH256UltThLB9LHid42QALok4sBIQOx8GSBgAzKM5KAkzgJtKzaaOAcfj8MopDYDOqWo_/pubhtml?gid=0&amp;widget=true&amp;headers=false"></iframe>
          <% } %> -->
    </main>
    
    <%- include('./common/footer') %>
    
  </body>
</html>