<!doctype html>
<html lang="en">
  <head>
    <%- include('./common/head') %>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>

    <header>
      <%- include('./common/navbar') %>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Welcome to the purchase order filling form.</h1>
      <p class="lead">This Portal can only be used using the IIT Ropar Email Account.</p>

      <!-- <div class="row">
        <div class="col-6">
          <a href="/uploadPage" class="btn btn-secondary btn-lg">Upload a new PO</a>
        </div>
        <div class="col-6">
          <a href="#" class="btn btn-secondary btn-lg">View Previously Uploaded PO</a>
        </div>
      </div> -->
    <div class="container h-100">
      <div id="dock-container">
        <div id="dock">
          <ul>
            <li>
              <span>Upload a new PO</span>
              <a href="/uploadPage"><img src="images/du1.png"/></a>
            </li>
            <li>
              <span>View Previously Uploaded PO</span>
              <a href="#"><img src="images/dv.png"/></a>
            </li>
          </ul>
        </div>
        <% if(user) { %>
        <iframe class="mt-4 w-100 h-100" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQp2z0stPhyH256UltThLB9LHid42QALok4sBIQOx8GSBgAzKM5KAkzgJtKzaaOAcfj8MopDYDOqWo_/pubhtml?gid=0&amp;widget=true&amp;headers=false"></iframe>
          <% } %>
      </div>
    </div>
    </main>
    
    <%- include('./common/footer') %>
    
  </body>
</html>