<!DOCTYPE html>
<html>
  <head>
    <%- include('./common/head') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include('./common/navbar') %>
    </header>
    <main role='main' class='container'>
        <div class="upload border border-dark mt-4 p-4 mx-auto w-50 ">
          <form method="POST" action="/uploadPage" enctype="multipart/form-data" class='text-center' style="display:flex;flex-wrap: wrap;align-items: center; justify-content: center;">
            <div class="drop-zone my-2">
              <span class="drop-zone__prompt">Drop file here or click to upload</span>
              <input type="file" name="myFile" class="drop-zone__input" required>
            </div>    
            <input type="submit" class="btn btn-outline-primary mx-auto w-50 my-2" value="Submit">
            <button class="btn btn-outline-primary mx-auto w-50 my-2" onclick="toggleTextBox(this)">Text Detect: ON</button>
          </form>
        </div> 
    </main>
    <%- include('./common/footer')  %>
    <script src="/javascripts/upload.js"></script>
  </body>
</html>
