*{
  /* margin:0; */
  padding:0;
}
.image{
  background-image: url(bg.png);
  background-size: cover;
  background-position: center;
  height:750px;
  position:fixed;
  left:0;
  right:0;
  top:0;
  z-index: -1;
  opacity: 0.5;
}
.navbar{
  /* background-color: black; */
  padding: 3px 4px;
}
.navbar ul{
  /* margin-top:25px; */
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.navbar li{
  list-style-type: none;
}
.navbar li a{
  text-decoration: none;
  color:white;
  padding: 5px 50px;
  margin:5px;
  border: 1px solid white;
}
.t{
  text-align: center;
}
.upload{
  width:50%;
  margin:auto;
  border: 2px solid black;
  padding: 20px;
}

.fileUpload{
  padding:5px;
}

.submit-btn{
  padding:5px;
  margin:5px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 400;
  font-size: 1 rem;
  margin-left:355px;
  margin-top:20px;
}
.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color:black;
  border: 4px dashed #009578;
  border-radius: 10px;
  margin:auto;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
