<nav class="navbar navbar-expand-md navbar-light " style="background-color: #e3f2fd;">
  <div class="container">  
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" width="35" height="35" class="d-inline-block align-top" alt="">
    PO Scanner
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Getting Started</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </div>
    <% if(user) { %>
      <p class='mx-1 my-1' style="color:#116fd2;">Hello, <%= user.name %></p> 
      <a class="btn btn-outline-primary my-2 my-sm-0" href="/auth/logout">Logout</a>
    <% } else { %>
    <a class="btn btn-outline-primary my-2 my-sm-0" href="/auth/google">Login</a>
    <% } %>
  </div>
  </nav>
