<!doctype html>
<html lang="en">
  <head>
    <%- include('../common/head') %>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>

    <header>
      <%- include('../common/navbar') %>
      <% if(successFlash.length>0) { %>
        <div class="container mt-1">
          <div class="alert alert-info">
            <%= successFlash %>
          </div>
        </div>
        <% } %>
        <p class="text-center">Request Password Reset</p>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="container d-flex align-items-center justify-content-center" style="height:80vh;">
      <div class="bg-light border border-dark rounded w-50">
        <form action="/users/passwordResetRequest" class="mx-4 my-4" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class='form-control w-100' name="email" id="email" placeholder="example@iitrpr.ac.in" required/>
          </div>
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
        </div>
      </div>
    </main>
    
    <%- include('../common/footer') %>
    
  </body>
</html>